.pic-fixed{
    position: fixed;
    right:20px;
    bottom: 50px;
}
.dialog-bottom {
    background: $warning;
    border-radius: 10px;
    height: 25px;
    margin-bottom: 10px;
    position: relative;
    width: 80px;
}
.dialog-bottom::after {
    border-color: $warning $warning transparent transparent;
    border-style: solid solid solid solid;

    /* 設定邊框大小可拼湊出任意形狀的三角形 */
    border-width: 6px 5px;

    bottom: -12px;

    /* 必須指定，才能顯示內容 */
    content: "";

    height: 0px;


    /* 必須指定，否則會變梯形 */
    position: absolute;
        left: 46px;
        left: 30px;
    width: 0px;
}