
.header{
    height: 600px;
    background-size: cove;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/home1.jpg);
}
@media (max-width: 575.98px) {
    .header{
        background-image: url(../image/home2.jpg);
    }
}
